//colors
$color_gallery_approx: #f0f0f0;
$color_navbar_font: #FEFEFE;
$color_navbar_bg: #444;
$color_tundora_approx: #444;
$cornflower_blue: cornflowerblue;
$color_jordy_blue_approx: #92b4f2;
$color_celeste_approx: #cfcfcf;

//fonts
$font_0: Avenir Next;
$font_1: Trebuchet MS;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;
$font_5: Source Code Pro;
$font_6: Menlo;
$font_7: monospace;

body {
	font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
	font-size: 1.25em;
	background: $color_gallery_approx;
	color: $color_tundora_approx;
}

.navbar {
    padding: 20px;
    border-radius: 0;
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    color: $color_navbar_font;
    background: $color_navbar_bg;
    width:250px;
    margin: 0;
    a {
        color:    $color_navbar_font;
        font-size: 16px;
        &:hover {
            color: $color_navbar_bg;
            text-decoration: none;
        }
        &:focus {
            color: $color_navbar_bg;
            text-decoration: none;
        }
        &:active {
            color: $color_navbar_bg;
            text-decoration: none;
        }
    }
    header{

        a {

            &:hover {
                color: $color_navbar_font;
                text-decoration: none;
            }
            &:focus {
                color: $color_navbar_font;
                text-decoration: none;
            }
            &:active {
                color: $color_navbar_font;
                text-decoration: none;
            }

        }


    }


}



h1 {
	font-size: 3em;
	font-weight: 500;
	line-height: 0.9;
	+ p {
		font-size: 1.33em;
	}
}
ul {
	padding-left: 0;
	list-style: none;
}
ol {
	padding-left: 0;
}
li {
	list-style: none;
}
a {
	color: $cornflower_blue;
	&:hover {
		color: $color_jordy_blue_approx;
	}
	&:focus {
		color: $color_jordy_blue_approx;
	}
	&:active {
		color: $color_jordy_blue_approx;
	}
}
footer {
	margin: 2em 0;
}
img {
	width: 100%;
}
@media(min-width: 35em) {
	img {
		width: 120%;
		margin-left: -10%;
		margin-right: -10%;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0.15em;
	}
}
pre {
	padding: 0.75em;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0.15em;
	background: $color_tundora_approx;
	//Instead of the line below you could use @include word-break($value)
	word-break: break-all;
	word-wrap: break-word;
	code {
		color: $color_celeste_approx;
	}
}
code {
	font-family: $font_5, $font_6, $font_7;
	font-size: 90%;
}
nav a {
	padding: 0.5em;
	margin-left: -0.5em;
	margin-right: 0.5em;
}
