<header id="home">
  <div class="hidden-menu hidden">
    <div class="button-panel text-center">
      <a class="nav-links" id="nav-home" href="#home"><button>Home</button></a>
      <a class="nav-links" id="nav-about" href="#about"><button>About</button></a>
      <a class="nav-links" id="nav-portfolio" href="#portfolio"><button>Portfolio</button></a>
      <a class="nav-links" id="nav-contact" href="#contact"><button>Contact</button></a>

    </div>
  </div>
  <div class="relative-parent">
    <button id="primary-menu-btn" class="menu-btn open-menu-btn">Menu</button>
    <button id="close-menu-btn" class="hidden menu-btn close-menu-btn">&times;</button>
    <div class="social">
      <a href="https://br.linkedin.com/in/cbsorrilha"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="https://github.com/cbsorrilha"><i class="fa fa-github fa-2x"></i></a>
    </div>
  </div>
</header>
