
header {

	.social-container {
		background-color: #333;
		color: #EFEFEF;
		float: left;
		.social-icon {
			display: inline-block;
		}
		a {
			color: #EFEFEF;
			&:hover, &:visited, &:focus {
				color: #EFEFEF;
			}
		}
		
	}
}