html, body {
    height: 100%;
    background-color: $background-white;
    font-family: $base-font-family;
}

input {
    outline:none;
}

a {
    color: $link-color;
    text-decoration: none;

    &:visited  {
        color: $link-color;
        text-decoration: none;
    }
    &:hover {
        color: $hover-link;
        text-decoration: none;
    }
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
    outline: 0px !important;
    -webkit-appearance: none;
}




.social {
    /*Styling*/
    background-color: black;
    padding: 3px 10px;
    @include border-radius(20px);
    @include opacity(0.4);
    /*Positioning*/
    max-width: 150px;
    position: fixed;
    right: 35px;
    top: 35px;
    z-index: 9999;
    &:hover {
        @include opacity(1.0);
    }
    a {
        display: inline-block;
        margin: 0 7px;
        color: $link-color;
        &:hover {
            color: $lighter-green-hover-link;
        }
    }
}


.relative-parent {

    position: relative;

    .menu-btn{

        text-align:center;
        color: $link-color;
        background-color: black;
        font-weight: bold;
        border: none;

        position: fixed;
        left: 25px;
        top: 25px;
        width: 60px;
        height: 60px;
        padding: 0;

    }
    .open-menu-btn {
        @include opacity(0.5);

        z-index: 11;
        &:hover {
            @include opacity(1.0);
            color: $green-hover-link;
        }
    }
    .close-menu-btn {
        font-size: 3.7rem;
        border: none;
        background-color: transparent;

        z-index: 9999;

    }
}

.hidden-menu {
    background-color: black;
    @include opacity(0.8);

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;

    .button-panel {
        color: $link-color;
        background-color: transparent;
        padding: 10px;

        margin: 120px auto;
        width: 75%;

        button {
            opacity: inherit;
            border: none;
            background-color: #000;

            display:block;
            width: 100%;
            min-height: 50px;;
            margin: 0 auto;

            &:hover {
                background-color: $lighter-green-hover-link;
                @include opacity(1.0);
            }
        }

    }
}
.banner-wrapper {
    height: 100vh;
}

.banner {
    background-size: cover;
    background-image: url(/img/skies.jpg);
    background-position: center center;

    height: 100%;
    width:100%;
    position:absolute;

    .call-to-action {
        color: white;
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        h1 {
            font-size: 5rem;
        }
        .quote-author {
            text-shadow: 0px 0px 1px #DEDEDE;
        }
    }
}


.content {
    font-size: 1.7rem;
    background-color: #EDEDED;

    .spacer {
        margin-top: 75px;
        padding: 10px;
    }
    img {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
.custom-btn {
    text-align:center;
    color: $link-color;
    background-color: black;
    font-weight: bold;
    border: white thin solid;
}
.custom-btn:hover {
    color: $lighter-green-hover-link;
}
