// DefaultPage Layout
@import "components/_icon-bar";

header {
    .social-container {
        position:fixed;
        width:100px;
        top: 15px;
        left: 10px;
        @extend .icon-bar;
        svg{
            fill: darken($white, 30%);
        }
        .social-icon {            
            width: 40px;
            height: 40px;
            display: inline-block;
            &:hover svg{
                fill: $white;
            }
        }
    }
    .menu-container {       
        .menu-btn {
            position: fixed;
            right: 15px;
            top: 15px;
            padding: 13px 15px;
            font-weight: 600;
            @extend .icon-bar;
        }
        .menu {
            display: none;
            position:fixed;
            left:0;
            top:0;
            background-color: rgba(0,0,0,0.4);
            width: 100vw;
            height: 100vh;
            .menu-links {
                width: 400px;
                margin: 0 auto;
                margin-top: 10%;
                font-size: 38px;
                li{
                    padding: 35px;
                }
                li:hover {
                    background-color: rgba(33,33,33, 0.1);
                }
                a{
                    color: #FFF !important;
                    text-decoration: none;
                    text-align: center;
                }
            }
            .close-btn {
                width: 60px;
                float: right;
                margin-top: 15px;
                margin-right: 45px;
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                .close-x {
                    stroke: #FFF;
                    fill: transparent;
                    stroke-linecap: round;
                    stroke-width: 5;
                }
            }
        }
    }
    
}

footer {
    .footer-container {
        text-align: center;
        background-color: $dark;
        color: $white;
        font-size: 24px;
        .copy {
            padding: 20px;
        }

    }
}